<a href="https://colab.research.google.com/github/QuanPhamAnh/Coursera_Capstone/blob/main/Coursera_Capstone/IBM%20DS/Applied%20Data%20Science%20Capstone%20Project/Week%204-5/Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>IBM Data Science Course Capstone Project</center>

## Introduction

This is my final effort for my first steps in Data Science career by finishing IBM Data Science Professional Certificate course. Here is my report for the capstone project of that course. I will use data science toolset I have learned on a real-life problem. I used Python to perform analysis and you can find the notebook at the end of the post for more information.

## Business Problem

Assume there is a businessman who wants to open a brand new restaurant in Vietnam. So, he wants to know where should he open his restaurant and what cuisine it would serves. Therefore, he as me to analyse and solve that problem

The assumption behind the analysis is that we use unsupervised machine learning, in this case is k-means cluster, to create clusters of pin location in two biggest city in Vietnam (Ha Noi and Ho Chi Minh City) and that will provide us with areas for consideration for the restaurant and which cuisine it should serve.

## Data

For this project, we need the following data:


1.   Information of restaurants in Ha Noi and Ho Chi Minh City: We can get this data from Foursquare like what we have learned. But in Vietnam, Foursquare data is not good as [Foody](https://foody.vn). <br><br>
Foody is a Vietnam-based company provides food recommendations, restaurant listings and value added services such as order delivery, reservations, vouchers or coupons to create culinary experiences for the customers in the local market. With more than 12,842,743 monthly web visitors, Foody.vn is ranked 16,868 among websites globally (March 7th, 2021). <br><br>
However, foody doesn't public there API (or I don't know where it is), so I have to crawl data using *requests* and *BeautifulSoup*.<br><br>
Data from Foody contain many features of restaurants we can use in our project: location, cuisine, rating, number of reviews, check in,...

In [8]:
sub_result.head()

                                             Name  ... Total Check-in
0     Pizza 4P’s - Pizza Kiểu Nhật - Lê Thánh Tôn  ...            516
1    Pizza 4P's - Pizza Kiểu Nhật - Thủ Khoa Huân  ...             53
2  Pizza 4P’s - Pizza Kiểu Nhật - Nguyễn Văn Linh  ...             59
3     Pizza 4P's - Pizza Kiểu Nhật - Hai Bà Trưng  ...             36
4    Pizza 4P's - Pizza Kiểu Nhật - Saigon Centre  ...             26

[5 rows x 9 columns]


2.   List of post location in Ha Noi and Ho Chi Minh City: postcode system in Vietnam is not very useful and I can't use geocode to get latitude and longitude from address. Therefore, I use data from [postcodequery](https://postcodequery.com) to get address and GPS coordinates of location.

In [21]:
pin_df.head()

                                                Pin  Latitude  Longitude
0    Cong Vi, Ba Dinh, Ha Noi (21.03482, 105.80894)  21.03482  105.80894
1   Giang Vo, Ba Dinh, Ha Noi (21.02755, 105.81743)  21.02755  105.81743
2     Kim Ma, Ba Dinh, Ha Noi (21.03080, 105.82352)  21.03080  105.82352
3  Lieu Giai, Ba Dinh, Ha Noi (21.03836, 105.81676)  21.03836  105.81676
4    Ngoc Ha, Ba Dinh, Ha Noi (21.03872, 105.82751)  21.03872  105.82751